{% extends 'base.html.twig' %}

{% block body %}

    <form action="">
        <div class="form-group">
            <label for="tournament">Tournament</label>
            <select name="tournament" id="tournament" class="form-control">
                <option value="">Select tournament</option>
                {% for tournament in tournaments %}
                    <option value="{{ tournament.id }}">{{ tournament.name }}</option>
                {% endfor %}

            </select>
        </div>
    </form>


    <form action="">

    </form>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script>
        $(function () {
            $('#tournament').on('change', function () {
                location.href = Routing.generate('tournament', {
                    'id': $(this).val(),
                });
            });
        })
    </script>
{% endblock %}